<% include ../partials/genericHead %>

<div>
  <br>
  <br>

      <h1>Membership Application Submitted.</h1>
      <br>
      <h3>Thank you for subscribing to our membership !</h3>
      <br>
      <p>Your membership is being processed by our staff. You would be notify whether your application is successfully
        in the next few days.</p>
        <a href="/">Click Here to return to main page.</a>
        <br>
<br>
        <br>
        <p>Thank You,</p>
        <br>
        <h6><b><i>Membership Administrator</i></b></h6>


</div>




<% include ../partials/genericFoot %>
